absl-py
asgiref
astunparse
brew
cachetools
certifi
chardet
charset-normalizer
clang
click
cycler
Flask
flatbuffers
fonttools
gast
grpcio
gunicorn
idna
itsdangerous
Jinja2
keras
keras-nightly
Keras-Preprocessing
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
mplfinance
multitasking
numpy
oauthlib
opt-einsum
packaging
pandas
pandas-datareader
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
six
sqlparse
tb-nightly
tensorboard
tensorflow
tensorflow-estimator
termcolor
tf-estimator-nightly
tf-nightly
typing-extensions
Werkzeug
wrapt
yfinance
